<div class="jumbotron">
 <style>
     h1 {
      font-family: 'Quicksand';
      font-weight: 700;
      text-align: center;
     }
.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 43px;
  background: #e95265;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #2fbdaa;
  text-decoration: none;
}


</style>

  <h1>Watch Me For Me</h1>
  <%= image_tag("wm4m.png", :alt => "logo") %>

  <p style = "text-align: center">
    Yet another proof that Pebbles make everything better: We help you keep tabs on your own mind.
  </p>
  <br>
  <p style = "text-align: center">
    <%= link_to 'Sign up today!', new_user_registration_path, class: '.btn ' %>

  </p>
</div>

<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>

<div class="row">
  <div class="col-md-4">
    <h2>Your Mind, Quantified</h2>
    <p>You want to track your moods the same way you track your movement and heartrate? <strong>We have just the tool for you</strong>, using established methodology from happiness research.</p>
  </div>
  <div class="col-md-4">
    <h2>Depressed?</h2>
    <p>
      <strong>We can help you reach out to the help you need</strong> - doctor, friends, family - when you're too sad to ask them yourself.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Therapist?</h2>
    <p>
      We can help you <strong>take better care of your patients</strong>, allowing you to keep track of their state without requiring their ongoing initiative.
    </p>
  </div>
</div>
