<div class="jumbotron">
  <h1>Watch Me For Me</h1>
  <p>
    Yet another proof that Pebbles make everything better: We help you keep tabs on your own mind.
  </p>
  <p>
    <%= link_to 'Sign up today!', new_user_registration_path, class: '.btn .btn-default .btn-lg' %>
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Your Mind, Quantified</h2>
    <p>You want to track your moods the same way you track your movement and heartrate? <strong>We have just the tool for you.</strong></p>
  </div>
  <div class="col-md-4">
    <h2>Depressed?</h2>
    <p>
      <strong>We can help you reach out to the help you need</strong> - doctor, friends, family - when you're too sad to ask them yourself.
    </p>
  </div>
  <div class="col-md-4">
    <h2>Therapist?</h2>
    <p>
      We can help you <strong>take better care of your patients</strong>, allowing you to keep track of their state without requiring their ongoing initiative.
    </p>
  </div>
</div>