<h2>You're almost there!</h2>
<p>In order to take full advantage of WatchMe4Me, go download our Pebble app and follow the instructions there.</p>

<p><%= link_to "Continue to Contacts Setup", contacts_setup_path, class: "button" %></p>