<h2>Add People Who Care</h2>
<p>People love you and care about you. They will appreciate the opportunity to help. Talk to them - and if they want to step in, put their name and e-mail here. We will let them know when you need them.</p>


<%= image_tag("wm4mcontact.png", :alt => "logo") %>
<!-- form -->
